In [1]:
pwd

'C:\\Users\\ssn\\Desktop\\MACHINE LEARNING\\KNN'

In [2]:
import os
print(os.listdir())

['.ipynb_checkpoints', 'KNN.ipynb', 'Social_Network_Ads.csv']

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv( 'Social_Network_Ads.csv')

In [5]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [7]:
x= data.iloc[:,1:-1].values
y= data.iloc[:,-1].values

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x[:,0]=le.fit_transform(x[:,0])

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size = 0.2)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train[:,1:] = sc.fit_transform(x_train[:,1:])
x_test[:,1:] = sc.fit_transform(x_test[:,1:])

C:\Users\ssn\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [12]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

C:\Users\ssn\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [13]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors= 5,p=2,metric='minkowski')

In [14]:
KNN.fit(x_train,y_train)
y_predict = KNN.predict(x_test)

In [15]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_predict)

In [16]:
cm

array([[50,  6],
       [ 3, 21]], dtype=int64)

In [17]:
accuracy = (cm[0,0]+cm[1,1])/(cm[0,1]+cm[1,0]+cm[0,0]+cm[1,1])*100

In [18]:
accuracy

88.75