In [1]:
pwd

'C:\\Users\\ssn\\Desktop\\MACHINE LEARNING\\naive_bayes'

In [4]:
import os 
print(os.listdir())

['.ipynb_checkpoints', 'navive_bayes.ipynb', 'Social_Network_Ads.csv']

In [5]:
import numpy as np
import pandas as pd

In [6]:
data = pd.read_csv('Social_Network_Ads.csv')

In [7]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [11]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [15]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
x[:,1] = le.fit_transform(x[:,1])
x

array([[15624510, 1, 19, 19000],
       [15810944, 1, 35, 20000],
       [15668575, 0, 26, 43000],
       ...,
       [15654296, 0, 50, 20000],
       [15755018, 1, 36, 33000],
       [15594041, 0, 49, 36000]], dtype=object)

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.3)

In [18]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
x_train= sc.fit_transform(x_train)
x_test = sc.transform(x_test)

C:\Users\ssn\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [19]:
from sklearn.naive_bayes import GaussianNB
gn = GaussianNB()
gn.fit(x_train,y_train)

GaussianNB(priors=None)

In [20]:
predict = gn.predict(x_test)

In [22]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(predict,y_test)
cm

array([[78, 13],
       [ 2, 27]], dtype=int64)

In [23]:
accuracy = (cm[0,0]+cm[1,1])/(cm[0,1]+cm[1,0]+cm[0,0]+cm[1,1])*100

In [24]:
accuracy

87.5